<a class="skip" href="#content">Skip to content</a>
<div class="brand">
<a href="{{ '/' | relative_url }}">
  <img src="{{ '/assets/img/shag-bicyclist-flag-1760x465.png' | relative_url }}" alt="The Interurbanist banner" class="brand-flag" width="700" height="150">
</a>  
	<div>
    <h1 class="site-title">The Interurbanist</h1>
    {% assign tales = site.pages | where_exp:"p","p.dir contains '/tales/'"  %}
    {% assign visions = site.pages | where_exp:"p","p.dir contains '/visions/'"  %}
    {% assign all = tales | concat: visions | sort: 'path' | reverse %}
    {% assign latest = all | first %}
    <p class="site-desc">
      SHAG Interurban's Arts, Style, and Entertainment publication |
      Most recent post:
      {% if latest %}{% include date.html doc=latest format="%b %-d" %}{% else %}n/a{% endif %}.
    </p>
  </div>
</div>